.widget-rich-text {
    .widget-rich-text-quill {
        .ql-editor {
            max-height: 500px;
            min-height: 100px;
        }
    }

    @mixin hide-toolbar() {
        .ql-toolbar {
            display: none;
        }
    }

    &.no-context {
        @include hide-toolbar();

        .ql-container {
            &.ql-snow {
                border-top: 1px solid #ccc;
            }

            &.ql-bubble {
                border: 1px solid #ccc;
            }
        }
    }

    &.read-only {
        @include hide-toolbar();

        .ql-container {
            &.ql-snow {
                border: none;
            }

            .ql-editor {
                padding: 0;
                min-height: 100%;
            }
        }
    }
}
