.widget-rich-text {
    .widget-rich-text-quill {
        .ql-editor {
            max-height: 500px;
            min-height: 100px;
        }
    }

    &.no-context {
        .ql-toolbar {
            display: none;
        }

        .widget-rich-text-quill {
            &.ql-container {
                &.ql-snow {
                    border-top: 1px solid #ccc;
                }
            }
        }
    }
}
